ion-tabs{
    ion-tab-bar{
      
        border-radius: 20px 20px 0 0;
        ion-tab-button{
            
            --color:#5f5f5f;
            --color-selected:#2f2f2f;
            ion-icon{
                font-size: 1.5rem;
            }
        }
        
        
    }
    ion-fab-button{
            
        --color:#ffffff;
        
        ion-icon{
            font-size: 2.5rem;
        }
    }
 ion-fab{
    
    ion-fab-button{
     --background:#3d9450;
   
    }
 }
  
}