.button1 {
  --background: #3d9450; /* Couleur d'arrière-plan */
  --color: #fff; /* Couleur du texte */
  --border-radius: 50px; /* Optionnel, pour arrondir les bords */
  width: 300px;
  height: 20px !important;
}

.button2 {
  --background: #3d9450; /* Couleur d'arrière-plan */
  --color: #fff; /* Couleur du texte */
  --border-radius: 50px; /* Optionnel, pour arrondir les bords */
  width: 300px;
}

ion-toolbar{
  --background: #fff;
}
ion-label{
  --margin-top: 20px;
}
ion-input.custom {
  --background: #69fc8949;
  --color: #fff;
  --placeholder-color: #000;
  --placeholder-opacity: 1;
  --height:3px;

  --border:1px solid red;
  --fill-outline: red;
  --border-radius: 50px;

  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: ;
  --padding-top: 10px;
}
.customm {

  background: #fff;
  color: #000000;
  width: 100%;
  height: 40px;
  padding: 10px;

  border:1px solid #3d9450;
  --padding-start: 15px ;

  border-radius: 10px;

  padding-bottom: 10px;

  padding-top: 10px;
}
.otp-container {

  display: flex;

  justify-content: center;

  margin: 20px 0;


  .otp-input {
    background: #ffffff;
    border: 1px solid #3d9450;

    width: 40px !important;

    height: 50px;

    text-align: center;

    font-size: 24px;

    margin: 0 10px;

    border-radius: 8px;

    transition: border-color 0.3s;


    &:focus {

      outline: none;

      border-color: #737177;

    }


    &::placeholder {

      color: #BDBDBD;

      opacity: 1;

    }

  }

}

