.button1 {
  --background: rgba(8,147,28,255); /* Couleur d'arrière-plan */
  --color: #ffffff; /* Couleur du texte */
  --border-radius: 50px; /* Optionnel, pour arrondir les bords */
  width: 300px;
}

.button2 {
  --background:rgba(255,229,0,255); /* Couleur d'arrière-plan */
  --color: rgba(8,147,28,255); /* Couleur du texte */
  --border-radius: 50px; /* Optionnel, pour arrondir les bords */
}



#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.customm {
 
  background: #fff;
  color: #000000;
  width: 100%;
  height: 40px;
  --padding-start: 15px;

  border:1px solid #3d9450;

  border-radius: 10px;

  padding-bottom: 10px;
 
  padding-top: 10px;
}

.otp-container {

  display: flex;

  justify-content: center; 

  margin: 20px 0; 


 .otp-input {
    background: #ffffff;
    border: 1px solid #3d9450; 

    width: 40px !important;    

    height: 50px;   

    text-align: center;     

    font-size: 24px;     

    margin: 0 5px;         

    border-radius: 8px;  

    transition: border-color 0.3s; 


    &:focus {

      outline: none;       

      border-color: #737177;   

    }


    &::placeholder {

      color: #BDBDBD;  

      opacity: 1;   

    }

  }

}
ion-label {
  padding-bottom: 20px;
}
ion-input{
  background: #fff;
  color: gray;
  width: 100%;
  height: 40px;
  --padding-start: 10px;

  border:1px solid #3d9450;

  border-radius: 10px;

  padding-bottom: 10px;
 
  padding-top: 10px;
}

ion-select{
  background: #fff;
  color: gray;
  width: 100%;
  height: 40px;
  border:1px solid #3d9450;
  border-radius: 10px;
}
ion-select-option {
  --padding-left: 150px;
}
