.button1 {
  --background: rgba(8,147,28,255); /* Couleur d'arrière-plan */
  --color: rgba(255,229,0,255); /* Couleur du texte */
  --border-radius: 10px; /* Optionnel, pour arrondir les bords */
}

.button2 {
  --background:rgba(255,229,0,255); /* Couleur d'arrière-plan */
  --color: rgba(8,147,28,255); /* Couleur du texte */
  --border-radius: 10px; /* Optionnel, pour arrondir les bords */
}
