.button1 {
  --background: #3d9450; /* Couleur d'arrière-plan */
  --color: #fff; /* Couleur du texte */
  --border-radius: 50px; /* Optionnel, pour arrondir les bords */
  width: 300px;
  margin-top: 20px;

}

.button2 {
  --background:rgba(255,229,0,255); /* Couleur d'arrière-plan */
  --color: rgba(8,147,28,255); /* Couleur du texte */
  --border-radius: 10px; /* Optionnel, pour arrondir les bords */
}

ion-toolbar{
  --background: #fff;
}
.stop{
  margin: 0px;
  position: absolute;
  bottom: 90px;
  width: 100vw;
  z-index: 11;
}

.scan-box{
  border : 3px solid #fff;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
  content : '';
  display : block;
  left:50%;
  height: 300px;
  position: absolute;
  top:50%;
  transform: translate(-50%,-50%);
  width: 300px;
  //background: transparent;
  background-color: transparent !important;
  --background: transparent !important;
  --ion-background-color: transparent !important;
}
ion-button.confirm-button {
  --background: #4CAF50 !important; 
  --color: #ffffff !important;
}
.customm {
 
  background: #fff;
  color: #000000;
  width: 100%;
  height: 40px;
  padding: 10px;
  --padding-start: 15px;

  border:1px solid #3d9450;

  border-radius: 10px;

  padding-bottom: 10px;
 
  padding-top: 10px;
}


